body {
  font-family: 'Poppins', sans-serif;
}

.nav-ish {
  margin-left: 20px;
}

.nav-ish label {
  font-size: 17px;
  font-weight: bold;
}

.nav-ish button {
  margin-right: 10px;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
}

.nav-ish select {
  margin-right: 10px;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #303030;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: left;
}

.nav-ish button:disabled {
  cursor: default;
  opacity: .3;
}

.nav-ish button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.nav-ish button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.nav-ish button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

/* Style the label and select elements */
.nav-ish label {
  margin-right: 5px;
}

.nav-ish select {
  margin-right: 10px;
}

#searchInput {
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: left;
}

.searchIcon {
  margin-right: 5px;
}

/* Style the book grid container */
#bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards as needed */
    justify-content: space-between; /* Distribute cards evenly in the container */
    padding: 20px; /* Add padding to the container to center-align the cards */
  }
  
  /* Style each book card */
  .book-item {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(25% - 20px); /* Set a fixed width for each card (3 cards per row) */
    background-color: #fff;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Style the book image */
  .book-image img {
    width: 100%; /* Set the image width to 100% of the container */
    height: 200px; /* Set a fixed height for all images (adjust as needed) */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }
  
  p {
    margin: 5px 0;
  }
  

  